style.
        body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background-color: #fff;
    margin: 0%;
    padding: 0%;
    }

    #background {
    background-image: url("#{fotoBg}");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    .container {
    width: 100%;
    margin: 0%;
    padding: 0%;
    }

    h1, h2 {
    color: #666;
    }

    h1 {
    font-size: 6em;
    margin-bottom: 1em;
    }

    h2 {
    font-size: 4em;
    margin-bottom: 1em;
    }

    .generos {
    display: flex;
    flex-wrap: wrap;
    }

    .generos li {
    list-style-type: none;
    background-color: #d4f2d2;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    }

    .elenco {
    display: flex;
    flex-wrap: wrap;
    }

    .elenco li {
    list-style-type: none;
    background-color: #d4f2d2;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
    }

    img {
    max-width: 500px;
    height: auto;
    border: 2px solid black;
    }

    .imgBg {
    max-width: 100%;
    }

    body {
    background-color: #fff;
    }

    #background {
    opacity: 0.95;
    }


    .imgBg img {
    color: #fff;
    }

    .btn {
    color: #fff;
    background-color: #666;
    border: 2px solid #fff;
    }

    .btn:hover {
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    }
